In [1]:
import pandas as pd
import os
import pickle
from lrs import longest_repeating_sublist
from pandarallel import pandarallel
pandarallel.initialize(progress_bar=True)

INFO: Pandarallel will run on 20 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.

In [2]:
files = os.listdir('../data')
files

['pythia-70m.pkl',
 'pythia-160m.pkl',
 'pythia-410m.pkl',
 'pythia-1b.pkl',
 'pythia-1.4b.pkl',
 'pythia-2.8b.pkl',
 'pythia-6.9b.pkl',
 'pythia-70m-deduped.pkl',
 'pythia-160m-deduped.pkl',
 'pythia-410m-deduped.pkl',
 'pythia-1b-deduped.pkl',
 'pythia-1.4b-deduped.pkl',
 'pythia-2.8b-deduped.pkl',
 'pythia-6.9b-deduped.pkl']

In [3]:
df = pickle.load(open('../data/' + files[0], 'rb'))

In [ ]:
df

,index,tokens,__index_level_0__,detokenized
0,232,"[996, 186, 29, 1088, 7392, 568, 29860, 5264, 2...",232,"[\n\t, \t, <, read, echo, ="", ascii, ""><, del..."
1,764,"[599, 17585, 423, 92, 3728, 12945, 423, 92, 33...",764,"[}}, ).\, end, {, array, }$$\, end, {, documen..."
2,806,"[313, 39386, 27, 19939, 428, 5270, 310, 1239, ...",806,"[ (, errno, :, 165, -, Table, is, read, ..."
3,891,"[94, 187, 50262, 61, 2099, 92, 8798, 94, 187, ...",891,"[}, \n, , \, usepackage, {, am..."
4,1060,"[4022, 305, 48095, 4477, 15, 187, 475, 187, 47...",1060,"[ 2016, g, RPC, authors, ., \n, *, \n, *, ..."
...,...,...,...,...
463948,146431433,"[2032, 748, 748, 582, 898, 558, 187, 50274, 82...",2287433,"[ true, }, }, ),, 9, );, \n, , assert, ..."
463949,146431569,"[544, 18, 15, 17, 13, 470, 15, 17, 9502, 187, ...",2287569,"[ [, 1, ., 0, ,, 0, ., 0, ]], \n, [, 45, ,, ..."
463950,146431580,"[4, 27954, 187, 4, 604, 10807, 64, 4785, 64, 3...",2287580,"[#, endif, \n, #, if, BOOST, _, PP, _, ITER..."
463951,146431652,"[4637, 15, 187, 475, 1422, 778, 4044, 247, 349...",2287652,"[ License, ., \n, *, You, may, obtain, a,..."
463952,146431669,"[186, 39963, 64, 6343, 9, 1208, 13, 17464, 378...",2287669,"[\t, etm, _, write, (, val, ,, ET, MA, CT, R,..."

In [ ]:
df['lrs'] = df['tokens'].parallel_apply(longest_repeating_sublist)

Exception ignored in: <Finalize object, dead>
Traceback (most recent call last):
  File "/usr/lib/python3.9/multiprocessing/util.py", line 224, in __call__
    res = self._callback(*self._args, **self._kwargs)
  File "/usr/lib/python3.9/multiprocessing/managers.py", line 665, in _finalize_manager
    process.join(timeout=1.0)
  File "/usr/lib/python3.9/multiprocessing/process.py", line 149, in join
    res = self._popen.wait(timeout)
  File "/usr/lib/python3.9/multiprocessing/popen_fork.py", line 40, in wait
    if not wait([self.sentinel], timeout):
  File "/usr/lib/python3.9/multiprocessing/connection.py", line 936, in wait
    ready = selector.select(timeout)
  File "/usr/lib/python3.9/selectors.py", line 416, in select
    fd_event_list = self._selector.poll(timeout)
KeyboardInterrupt: